@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  body {
    @apply bg-white dark:bg-black text-black dark:text-white antialiased transition-colors duration-500;
    font-family: 'Space Grotesk', sans-serif;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
